In [5]:
import pandas as pd

df = pd.read_csv('./data/vehicles/vehicles.csv')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [8]:
pd.crosstab(df['Make'],df["Year"])[[2008,2009,2010]]

Year                                2008  2009  2010
Make
AM General                             0     0     0
ASC Incorporated                       0     0     0
Acura                                  8     7    11
Alfa Romeo                             0     1     0
American Motors Corporation            0     0     0
Aston Martin                           6     6     7
Audi                                  48    41    35
Aurora Cars Ltd                        0     0     0
Autokraft Limited                      0     0     0
BMW                                   77    74    83
BMW Alpina                             1     0     0
Bentley                                6     7     6
Bertone                                0     0     0
Bill Dovell Motor Car Company          0     0     0
Bitter Gmbh and Co. Kg                 0     0     0
Bugatti                                1     0     1
Buick                                  9     7     9
CCC Engineering                        0     0     0
CX Automotive                          0     0     0
Cadillac                              23    24    27
Chevrolet                             98   109    88
Chrysler                              41    23    16
Consulier Industries Inc               0     0     0
Dabryan Coach Builders Inc             0     0     0
Dacia                                  0     0     0
Daewoo                                 0     0     0
Daihatsu                               0     0     0
Dodge                                 65    50    39
E. P. Dutton, Inc.                     0     0     0
Eagle                                  0     0     0
...                                  ...   ...   ...
Renault                                0     0     0
Rolls-Royce                            3     4     5
Roush Performance                      8     2     2
Ruf Automobile Gmbh                    0     0     0
S and S Coach Company  E.p. Dutton     0     0     0
SRT                                    0     0     0
Saab                                  23    27    13
Saleen                                 0     0     0
Saleen Performance                     3     1     0
Saturn                                21    21    16
Scion                                  6     6     6
Shelby                                 1     0     0
Spyker                                 0     1     1
Sterling                               0     0     0
Subaru                                25    24    20
Superior Coaches Div E.p. Dutton       0     0     0
Suzuki                                18    20    26
TVR Engineering Ltd                    0     0     0
Tecstar, LP                            6     0     0
Texas Coach Company                    0     0     0
Toyota                                49    57    57
VPG                                    0     0     0
Vector                                 0     0     0
Vixen Motor Company                    0     0     0
Volga Associated Automobile            0     0     0
Volkswagen                            28    36    34
Volvo                                 33    33    29
Wallace Environmental                  0     0     0
Yugo                                   0     0     0
smart                                  2     2     2

[127 rows x 3 columns]

In [11]:
pd.crosstab(df['Make'],df["Year"])[[2008,2009,2010]].sort_values(2008, ascending=False)

Year                              2008  2009  2010
Make
Chevrolet                           98   109    88
BMW                                 77    74    83
Dodge                               65    50    39
GMC                                 57    69    50
Ford                                54    49    56
Mercedes-Benz                       52    48    46
Toyota                              49    57    57
Audi                                48    41    35
Nissan                              46    58    51
Porsche                             43    40    48
Chrysler                            41    23    16
Mazda                               34    30    27
Jeep                                34    35    27
Volvo                               33    33    29
Volkswagen                          28    36    34
Hyundai                             28    27    31
Mitsubishi                          27    32    24
Honda                               27    27    30
Subaru                              25    24    20
Pontiac                             24    33    26
Cadillac                            23    24    27
Saab                                23    27    13
Lexus                               22    22    23
Saturn                              21    21    16
Kia                                 20    24    26
Suzuki                              18    20    26
Mercury                             17    17    18
Infiniti                            16    19    19
Jaguar                              14    11     9
MINI                                12    15    15
...                                ...   ...   ...
Genesis                              0     0     0
Laforza Automobile Inc               0     0     0
Panoz Auto-Development               0     0     0
Geo                                  0     0     0
Goldacre                             0     0     0
Grumman Allied Industries            0     0     0
JBA Motorcars, Inc.                  0     0     0
J.K. Motors                          0     0     0
Grumman Olson                        0     0     0
Isis Imports Ltd                     0     0     0
Federal Coach                        0     0     0
Mahindra                             0     0     0
Excalibur Autos                      0     0     0
Evans Automobiles                    0     0     0
Panos                                0     0     0
Pagani                               0     0     0
PAS, Inc                             0     0     0
PAS Inc - GMC                        0     0     0
Oldsmobile                           0     0     0
Daewoo                               0     0     0
Morgan                               0     0     0
Mobility Ventures LLC                0     0     0
Daihatsu                             0     0     0
Merkur                               0     0     0
E. P. Dutton, Inc.                   0     0     0
Eagle                                0     0     0
Mcevoy Motors                        0     0     0
McLaren Automotive                   0     0     0
Environmental Rsch and Devp Corp     0     0     0
AM General                           0     0     0

[127 rows x 3 columns]

In [52]:
only_audi = df[(df['Make']=="Audi") | (df['Make']=="BMW")]
crt = pd.crosstab([only_audi["Make"], only_audi["Model"]],[only_audi["Year"],only_audi["Fuel Type"]])
display(crt)

Year                         1985           1986            1987          \
Fuel Type                  Diesel Regular Diesel Regular Premium Regular
Make Model
Audi 100                        0       0      0       0       0       0
     100 Wagon                  0       0      0       0       0       0
     100 quattro                0       0      0       0       0       0
     100 quattro Wagon          0       0      0       0       0       0
     200                        0       0      0       0       0       0
     200 quattro                0       0      0       0       0       0
     200 quattro 20v            0       0      0       0       0       0
     200 quattro 20v Wagon      0       0      0       0       0       0
     200 quattro Wagon          0       0      0       0       0       0
     4000                       0       0      0       0       0       2
     4000 CS quattro            0       0      0       1       0       1
     4000 S                     0       0      0       2       0       0
     4000s                      0       2      0       0       0       0
     4000s quattro              0       1      0       0       0       0
     5000 CS Turbo              0       0      0       0       0       2
     5000 CS quattro            0       0      0       1       0       1
     5000 CS quattro Wagon      0       0      0       1       0       1
     5000 S                     0       0      0       3       0       4
     5000 S quattro             0       0      0       0       0       1
     5000S                      0       4      0       0       0       0
     5000S Wagon                0       2      0       2       0       4
     80                         0       0      0       0       0       0
     80 quattro                 0       0      0       0       0       0
     80/90                      0       0      0       0       0       0
     80/90 quattro              0       0      0       0       0       0
     90                         0       0      0       0       0       0
     90 quattro                 0       0      0       0       0       0
     90 quattro 20v             0       0      0       0       0       0
     A3                         0       0      0       0       0       0
     A3 Cabriolet               0       0      0       0       0       0
...                           ...     ...    ...     ...     ...     ...
BMW  X5 M                       0       0      0       0       0       0
     X5 sDrive35i               0       0      0       0       0       0
     X5 xDrive30i               0       0      0       0       0       0
     X5 xDrive35d               0       0      0       0       0       0
     X5 xDrive35i               0       0      0       0       0       0
     X5 xDrive40e               0       0      0       0       0       0
     X5 xDrive48i               0       0      0       0       0       0
     X5 xDrive50i               0       0      0       0       0       0
     X5 xDriveM                 0       0      0       0       0       0
     X6 M                       0       0      0       0       0       0
     X6 sDrive35i               0       0      0       0       0       0
     X6 xDrive35i               0       0      0       0       0       0
     X6 xDrive50i               0       0      0       0       0       0
     X6 xDriveM                 0       0      0       0       0       0
     Z3 Coupe                   0       0      0       0       0       0
     Z3 Roadster                0       0      0       0       0       0
     Z4 3.0i                    0       0      0       0       0       0
     Z4 3.0si                   0       0      0       0       0       0
     Z4 3.0si Coupe             0       0      0       0       0       0
     Z4 Coupe                   0       0      0       0       0       0
     Z4 M Coupe                 0       0      0       0       0       0
     Z4 M Roadster              0       0      0       0       0       0
     Z4 Roadster                0       0      0       0       0       0
     Z4 sDrive28i               0       0      0       0       0       0
     Z4 sDrive30i               0       0      0       0       0       0
     Z4 sDrive35i               0       0      0       0       0       0
     Z4 sDrive35is              0       0      0       0       0       0
     Z8                         0       0      0       0       0       0
     i3 REX                     0       0      0       0       0       0
     i8                         0       0      0       0       0       0

Year                          1988            1989          ...   2016  \
Fuel Type                  Premium Regular Premium Regular  ... Diesel
Make Model                                                  ...
Audi 100                         0       0       0       2  ...      0
     100 Wagon                   0       0       0       2  ...      0
     100 quattro                 0       0       0       1  ...      0
     100 quattro Wagon           0       0       0       0  ...      0
     200                         0       0       0       2  ...      0
     200 quattro                 0       0       0       1  ...      0
     200 quattro 20v             0       0       0       0  ...      0
     200 quattro 20v Wagon       0       0       0       0  ...      0
     200 quattro Wagon           0       0       0       1  ...      0
     4000                        0       0       0       0  ...      0
     4000 CS quattro             0       0       0       0  ...      0
     4000 S                      0       0       0       0  ...      0
     4000s                       0       0       0       0  ...      0
     4000s quattro               0       0       0       0  ...      0
     5000 CS Turbo               0       2       0       0  ...      0
     5000 CS quattro             0       1       0       0  ...      0
     5000 CS quattro Wagon       0       1       0       0  ...      0
     5000 S                      0       2       0       0  ...      0
     5000 S quattro              0       1       0       0  ...      0
     5000S                       0       0       0       0  ...      0
     5000S Wagon                 0       2       0       0  ...      0
     80                          0       0       0       0  ...      0
     80 quattro                  0       0       0       0  ...      0
     80/90                       0       3       0       4  ...      0
     80/90 quattro               0       1       0       1  ...      0
     90                          0       0       0       0  ...      0
     90 quattro                  0       0       0       0  ...      0
     90 quattro 20v              0       0       0       0  ...      0
     A3                          0       0       0       0  ...      0
     A3 Cabriolet                0       0       0       0  ...      0
...                            ...     ...     ...     ...  ...    ...
BMW  X5 M                        0       0       0       0  ...      0
     X5 sDrive35i                0       0       0       0  ...      0
     X5 xDrive30i                0       0       0       0  ...      0
     X5 xDrive35d                0       0       0       0  ...      1
     X5 xDrive35i                0       0       0       0  ...      0
     X5 xDrive40e                0       0       0       0  ...      0
     X5 xDrive48i                0       0       0       0  ...      0
     X5 xDrive50i                0       0       0       0  ...      0
     X5 xDriveM                  0       0       0       0  ...      0
     X6 M                        0       0       0       0  ...      0
     X6 sDrive35i                0       0       0       0  ...      0
     X6 xDrive35i                0       0       0       0  ...      0
     X6 xDrive50i                0       0       0       0  ...      0
     X6 xDriveM                  0       0       0       0  ...      0
     Z3 Coupe                    0       0       0       0  ...      0
     Z3 Roadster                 0       0       0       0  ...      0
     Z4 3.0i                     0       0       0       0  ...      0
     Z4 3.0si                    0       0       0       0  ...      0
     Z4 3.0si Coupe              0       0       0       0  ...      0
     Z4 Coupe                    0       0       0       0  ...      0
     Z4 M Coupe                  0       0       0       0  ...      0
     Z4 M Roadster               0       0       0       0  ...      0
     Z4 Roadster                 0       0       0       0  ...      0
     Z4 sDrive28i                0       0       0       0  ...      0
     Z4 sDrive30i                0       0       0       0  ...      0
     Z4 sDrive35i                0       0       0       0  ...      0
     Z4 sDrive35is               0       0       0       0  ...      0
     Z8                          0       0       0       0  ...      0
     i3 REX                      0       0       0       0  ...      0
     i8                          0       0       0       0  ...      0

Year                                                           \
Fuel Type                  Premium Premium Gas or Electricity
Make Model
Audi 100                         0                          0
     100 Wagon                   0                          0
     100 quattro                 0                          0
     100 quattro Wagon           0                          0
     200                         0                          0
     200 quattro                 0                          0
     200 quattro 20v             0                          0
     200 quattro 20v Wagon       0                          0
     200 quattro Wagon           0                          0
     4000                        0                          0
     4000 CS quattro             0                          0
     4000 S                      0                          0
     4000s                       0                          0
     4000s quattro               0                          0
     5000 CS Turbo               0                          0
     5000 CS quattro             0                          0
     5000 CS quattro Wagon       0                          0
     5000 S                      0                          0
     5000 S quattro              0                          0
     5000S                       0                          0
     5000S Wagon                 0                          0
     80                          0                          0
     80 quattro                  0                          0
     80/90                       0                          0
     80/90 quattro               0                          0
     90                          0                          0
     90 quattro                  0                          0
     90 quattro 20v              0                          0
     A3                          0                          0
     A3 Cabriolet                0                          0
...                            ...                        ...
BMW  X5 M                        1                          0
     X5 sDrive35i                1                          0
     X5 xDrive30i                0                          0
     X5 xDrive35d                0                          0
     X5 xDrive35i                1                          0
     X5 xDrive40e                0                          0
     X5 xDrive48i                0                          0
     X5 xDrive50i                1                          0
     X5 xDriveM                  0                          0
     X6 M                        1                          0
     X6 sDrive35i                1                          0
     X6 xDrive35i                1                          0
     X6 xDrive50i                1                          0
     X6 xDriveM                  0                          0
     Z3 Coupe                    0                          0
     Z3 Roadster                 0                          0
     Z4 3.0i                     0                          0
     Z4 3.0si                    0                          0
     Z4 3.0si Coupe              0                          0
     Z4 Coupe                    0                          0
     Z4 M Coupe                  0                          0
     Z4 M Roadster               0                          0
     Z4 Roadster                 0                          0
     Z4 sDrive28i                2                          0
     Z4 sDrive30i                0                          0
     Z4 sDrive35i                1                          0
     Z4 sDrive35is               1                          0
     Z8                          0                          0
     i3 REX                      0                          1
     i8                          0                          0

Year                                                                       \
Fuel Type                  Premium and Electricity Premium or E85 Regular
Make Model
Audi 100                                         0              0       0
     100 Wagon                                   0              0       0
     100 quattro                                 0              0       0
     100 quattro Wagon                           0              0       0
     200                                         0              0       0
     200 quattro                                 0              0       0
     200 quattro 20v                             0              0       0
     200 quattro 20v Wagon                       0              0       0
     200 quattro Wagon                           0              0       0
     4000                                        0              0       0
     4000 CS quattro                             0              0       0
     4000 S                                      0              0       0
     4000s                                       0              0       0
     4000s quattro                               0              0       0
     5000 CS Turbo                               0              0       0
     5000 CS quattro                             0              0       0
     5000 CS quattro Wagon                       0              0       0
     5000 S                                      0              0       0
     5000 S quattro                              0              0       0
     5000S                                       0              0       0
     5000S Wagon                                 0              0       0
     80                                          0              0       0
     80 quattro                                  0              0       0
     80/90                                       0              0       0
     80/90 quattro                               0              0       0
     90                                          0              0       0
     90 quattro                                  0              0       0
     90 quattro 20v                              0              0       0
     A3                                          0              0       1
     A3 Cabriolet                                0              0       1
...                                            ...            ...     ...
BMW  X5 M                                        0              0       0
     X5 sDrive35i                                0              0       0
     X5 xDrive30i                                0              0       0
     X5 xDrive35d                                0              0       0
     X5 xDrive35i                                0              0       0
     X5 xDrive40e                                1              0       0
     X5 xDrive48i                                0              0       0
     X5 xDrive50i                                0              0       0
     X5 xDriveM                                  0              0       0
     X6 M                                        0              0       0
     X6 sDrive35i                                0              0       0
     X6 xDrive35i                                0              0       0
     X6 xDrive50i                                0              0       0
     X6 xDriveM                                  0              0       0
     Z3 Coupe                                    0              0       0
     Z3 Roadster                                 0              0       0
     Z4 3.0i                                     0              0       0
     Z4 3.0si                                    0              0       0
     Z4 3.0si Coupe                              0              0       0
     Z4 Coupe                                    0              0       0
     Z4 M Coupe                                  0              0       0
     Z4 M Roadster                               0              0       0
     Z4 Roadster                                 0              0       0
     Z4 sDrive28i                                0              0       0
     Z4 sDrive30i                                0              0       0
     Z4 sDrive35i                                0              0       0
     Z4 sDrive35is                               0              0       0
     Z8                                          0              0       0
     i3 REX                                      0              0       0
     i8                                          1              0       0

Year                          2017                                         \
Fuel Type                  Premium Premium and Electricity Premium or E85
Make Model
Audi 100                         0                       0              0
     100 Wagon                   0                       0              0
     100 quattro                 0                       0              0
     100 quattro Wagon           0                       0              0
     200                         0                       0              0
     200 quattro                 0                       0              0
     200 quattro 20v             0                       0              0
     200 quattro 20v Wagon       0                       0              0
     200 quattro Wagon           0                       0              0
     4000                        0                       0              0
     4000 CS quattro             0                       0              0
     4000 S                      0                       0              0
     4000s                       0                       0              0
     4000s quattro               0                       0              0
     5000 CS Turbo               0                       0              0
     5000 CS quattro             0                       0              0
     5000 CS quattro Wagon       0                       0              0
     5000 S                      0                       0              0
     5000 S quattro              0                       0              0
     5000S                       0                       0              0
     5000S Wagon                 0                       0              0
     80                          0                       0              0
     80 quattro                  0                       0              0
     80/90                       0                       0              0
     80/90 quattro               0                       0              0
     90                          0                       0              0
     90 quattro                  0                       0              0
     90 quattro 20v              0                       0              0

In [63]:
numeric = df._get_numeric_data()
numeric["Make"] = df["Make"]
numeric.head()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Make
0,1984,2.5,4.0,19.388824,18,17,17,522.764706,1950,AM General
1,1984,4.2,6.0,25.354615,13,13,13,683.615385,2550,AM General
2,1985,2.5,4.0,20.600625,16,17,16,555.437500,2100,AM General
3,1985,4.2,6.0,25.354615,13,13,13,683.615385,2550,AM General
4,1987,3.8,6.0,20.600625,14,21,16,555.437500,2550,ASC Incorporated

In [65]:
# Agrupar marcas y calcular la media de todas las columnas por marca
numeric.groupby("Make").agg(['mean',"max","min"])

                                           Year              \
                                           mean   max   min
Make
AM General                          1984.500000  1985  1984
ASC Incorporated                    1987.000000  1987  1987
Acura                               2003.493377  2017  1986
Alfa Romeo                          1991.878049  2016  1985
American Motors Corporation         1984.590909  1987  1984
Aston Martin                        2006.458647  2017  1985
Audi                                2005.260674  2017  1985
Aurora Cars Ltd                     1988.000000  1988  1988
Autokraft Limited                   1989.500000  1993  1986
BMW                                 2006.735242  2017  1985
BMW Alpina                          2006.000000  2008  2003
Bentley                             2008.405172  2017  1998
Bertone                             1987.000000  1989  1985
Bill Dovell Motor Car Company       1985.000000  1985  1985
Bitter Gmbh and Co. Kg              1986.666667  1987  1986
Bugatti                             2011.125000  2015  2006
Buick                               1997.832402  2017  1984
CCC Engineering                     1987.500000  1988  1987
CX Automotive                       1990.375000  1993  1987
Cadillac                            2005.755906  2017  1984
Chevrolet                           1998.274225  2017  1984
Chrysler                            2000.079563  2017  1985
Consulier Industries Inc            1991.000000  1992  1990
Dabryan Coach Builders Inc          1995.000000  1995  1995
Dacia                               1988.000000  1988  1988
Daewoo                              2000.388060  2004  1998
Daihatsu                            1990.352941  1992  1988
Dodge                               1995.776695  2017  1984
E. P. Dutton, Inc.                  1985.000000  1985  1985
Eagle                               1993.275641  1998  1988
...                                         ...   ...   ...
Renault                             1985.969697  1987  1985
Rolls-Royce                         2000.687500  2017  1985
Roush Performance                   2008.962264  2016  2001
Ruf Automobile Gmbh                 1987.500000  1988  1987
S and S Coach Company  E.p. Dutton  1984.000000  1984  1984
SRT                                 2013.500000  2014  2013
Saab                                2000.541463  2012  1985
Saleen                              1992.200000  1995  1989
Saleen Performance                  2008.250000  2009  2008
Saturn                              2001.834532  2010  1991
Scion                               2010.783133  2016  2004
Shelby                              2008.000000  2008  2008
Spyker                              2007.000000  2011  2005
Sterling                            1988.833333  1991  1987
Subaru                              1999.599232  2017  1984
Superior Coaches Div E.p. Dutton    1984.000000  1984  1984
Suzuki                              2001.382812  2013  1984
TVR Engineering Ltd                 1985.500000  1986  1985
Tecstar, LP                         2008.000000  2008  2008
Texas Coach Company                 1986.000000  1986  1986
Toyota                              2000.408497  2017  1984
VPG                                 2011.800000  2013  2011
Vector                              1994.500000  1997  1992
Vixen Motor Company                 1986.000000  1986  1986
Volga Associated Automobile         1986.000000  1986  1986
Volkswagen                          2002.928367  2017  1984
Volvo                               2002.182706  2017  1985
Wallace Environmental               1991.500000  1992  1991
Yugo                                1988.375000  1990  1986
smart                               2012.500000  2017  2008

                                   Engine Displacement            Cylinders  \
                                                  mean  max  min       mean
Make
AM General                                    3.350000  4.2  2.5   5.000000
ASC Incorporated                              3.800000  3.8  3.8   6.000000
Acura                                         2.834768  3.7  1.5   5.231788
Alfa Romeo                                    2.556098  4.7  1.8   5.317073
American Motors Corporation                   3.813636  4.2  2.5   5.545455
Aston Martin                                  5.324060  6.0  3.2  10.015038
Audi                                          2.874607  6.3  1.4   5.813483
Aurora Cars Ltd                               4.900000  4.9  4.9   8.000000
Autokraft Limited                             4.925000  5.0  4.9   8.000000
BMW                                           3.235659  6.0  0.6   6.425164
BMW Alpina                                    4.533333  4.8  4.4   8.000000
Bentley                                       6.084483  6.8  4.0   9.586207
Bertone                                       1.500000  1.5  1.5   4.000000
Bill Dovell Motor Car Company                 2.300000  2.3  2.3   4.000000
Bitter Gmbh and Co. Kg                        3.600000  3.9  3.0   6.000000
Bugatti                                       8.000000  8.0  8.0  16.000000
Buick                                         3.280447  5.7  1.4   5.582868
CCC Engineering                               5.700000  5.7  5.7   8.000000
CX Automotive                                 2.781250  3.0  2.5   5.125000
Cadillac                                      4.256693  6.2  1.4   6.933071
Chevrolet                                     4.111502  7.4  1.0   6.333242
Chrysler                                      3.065367  6.4  2.0   5.326053
Consulier Industries Inc                      2.200000  2.2  2.2   4.000000
Dabryan Coach Builders Inc                    4.966667  5.7  4.6   8.000000
Dacia                                         1.400000  1.4  1.4   4.000000
Daewoo                                        1.855224  2.5  1.5   4.029851
Daihatsu                                      1.264706  1.6  1.0   3.705882
Dodge                                         3.933983  8.4  1.4   6.233051
E. P. Dutton, Inc.                            4.100000  4.1  4.1   8.000000
Eagle                                         2.135256  4.2  1.5   4.256410
...                                                ...  ...  ...        ...
Renault                                       1.727273  2.2  1.4   4.000000
Rolls-Royce                                   6.698125  6.8  5.4   9.725000
Roush Performance                             5.090566  6.2  4.6   8.000000
Ruf Automobile Gmbh                           3.400000  3.4  3.4   6.000000
S and S Coach Company  E.p. Dutton            6.000000  6.0  6.0   8.000000
SRT                                           8.400000  8.4  8.4  10.000000
Saab                                          2.311220  6.0  2.0   4.404878
Saleen                                        5.260000  5.8  4.9   8.000000
Saleen Performance                            5.200000  5.4  5.0   8.000000
Saturn                                        2.329496  3.9  1.8   4.431655
Scion                                         2.042169  2.5  1.3   4.000000
Shelby                                        4.600000  4.6  4.6   8.000000
Spyker                                        4.200000  4.2  4.2   8.000000
Sterling                                      2.633333  2.7  2.5   6.000000
Subaru                                        2.223816  3.6  1.2   4.130602
Superior Coaches Div E.p. Dutton              6.000000  6.0  6.0   8.000000
Suzuki                                        1.966211  4.0  1.0   4.308594
TVR Engineering Ltd                           2.800000  2.8  2.8   6.000000
Tecstar, LP                                   5.400000  5.4  5.4   8.000000
Texas Coach Company                           5.000000  5.0  5.0   8.000000
Toyota                                        2.757244  5.7  1.5   4.967320
VPG                                           4.600000  4.6  4.6   8.000000
Vector                                        5.850000  6.0  5.7  10.000000
Vixen Motor Company                           2.400000  2.4  2.4   6.000000
Volga Associated Automobile                   1.600000  1.6  1.6   4.000000
Volkswagen                                    2.236008  6.0  1.4   4.595033
Volvo                                         2.504742  4.4  1.9   4.945607
Wallace Environmental                         4.315625  6.0  2.3   7.812500
Yugo                                          1.200000  1.3  1.1   4.000000
smart                                         0.980000  1.0  0.9   3.000000

                                               Fuel Barrels/Year  ...  \
                                     max   min              mean  ...
Make                                                              ...
AM General                           6.0   4.0         22.674670  ...
ASC Incorporated                     6.0   6.0         20.600625  ...
Acura                                6.0   4.0         15.673371  ...
Alfa Romeo                           8.0   4.0         17.208234  ...
American Motors Corporation          6.0   4.0         18.758092  ...
Aston Martin                        12.0   6.0         24.998702  ...
Audi                                12.0   4.0         16.725128  ...
Aurora Cars Ltd                      8.0   8.0         21.974000  ...
Autokraft Limited                    8.0   8.0         19.994724  ...
BMW                                 12.0   2.0         16.982500  ...
BMW Alpina                           8.0   8.0         21.058417  ...
Bentley                             12.0   8.0         25.427330  ...
Bertone                              4.0   4.0         14.982273  ...
Bill Dovell Motor Car Company        4.0   4.0         19.388824  ...
Bitter Gmbh and Co. Kg               6.0   6.0         21.058417  ...
Bugatti                             16.0  16.0         32.961000  ...
Buick                                8.0   4.0         16.117492  ...
CCC Engineering                      8.0   8.0         21.974000  ...
CX Automotive                        6.0   4.0         20.491935  ...
Cadillac                             8.0   4.0         18.415347  ...
Chevrolet                            8.0   3.0         18.997583  ...
Chrysler                             8.0   4.0         16.574449  ...
Consulier Industries Inc             4.0   4.0         15.695714  ...
Dabryan Coach Builders Inc           8.0   8.0         20.250549  ...
Dacia                                4.0   4.0         14.330870  ...
Daewoo                               6.0   4.0         14.381540  ...
Daihatsu                             4.0   3.0         11.504567  ...
Dodge                               10.0   4.0         20.507157  ...
E. P. Dutton, Inc.                   8.0   8.0         19.388824  ...
Eagle                                6.0   4.0         15.249072  ...
...                                  ...   ...               ...  ...
Renault                              4.0   4.0         13.345607  ...
Rolls-Royce                         12.0   8.0         28.405710  ...
Roush Performance                    8.0   8.0         23.140361  ...
Ruf Automobile Gmbh                  6.0   6.0         25.354615  ...
S and S Coach Company  E.p. Dutton   8.0   8.0         32.961000  ...
SRT                                 10.0  10.0         21.974000  ...
Saab                                 8.0   4.0         16.448540  ...
Saleen                               8.0   8.0         22.140012  ...
Saleen Performance                   8.0   8.0         24.449093  ...
Saturn                               6.0   4.0         13.957160  ...
Scion                                4.0   4.0         12.316868  ...
Shelby                               8.0   8.0         19.388824  ...
Spyker                               8.0   8.0         21.576281  ...
Sterling                             6.0   6.0         18.160487  ...
Subaru                               6.0   3.0         14.999905  ...
Superior Coaches Div E.p. Dutton     8.0   8.0         32.961000  ...
Suzuki                               6.0   3.0         14.568941  ...
TVR Engineering Ltd                  6.0   6.0         18.311667  ...
Tecstar, LP                          8.0   8.0         25.354615  ...
Texas Coach Company                  8.0   8.0         27.467500  ...
Toyota                               8.0   4.0         16.153677  ...
VPG                                  8.0   8.0         13.241631  ...
Vector                              12.0   8.0         38.912292  ...
Vixen Motor Company                  6.0   6.0         23.886563  ...
Volga Associated Automobile          4.0   4.0         17.347895  ...
Volkswagen                          12.0   4.0         14.594784  ...
Volvo                                8.0   4.0         16.186996  ...
Wallace Environmental               12.0   4.0         24.404196  ...
Yugo                                 4.0   4.0         13.206218  ...
smart                                3.0   3.0          9.208922  ...

                                   Highway MPG Combined MPG          \
                                           min         mean max min
Make
AM General                                  13    14.750000  17  13
ASC Incorporated                            21    16.000000  16  16
Acura                                       17    21.506623  38  14
Alfa Romeo                                  16    19.512195  28  13
American Motors Corporation                 17    17.681818  21  16
Aston Martin                                 9    13.578947  17   8
Audi                                        17    20.325843  39  14
Aurora Cars Ltd                             20    15.000000  15  15
Autokraft Limited                           20    16.500000  17  16
BMW                                         15    20.032797  39  12
BMW Alpina                                  19    15.666667  16  15
Bentley                                     13    13.250000  19  11
Bertone                                     26    22.000000  22  22
Bill Dovell Motor Car Company               18    17.000000  17  17
Bitter Gmbh and Co. Kg                      17    15.666667  16  15
Bugatti                                     14    10.000000  10  10
Buick                                       17    20.880819  30  15
CCC Engineering                             20    15.000000  15  15
CX Automotive                               18    16.187500  19  15
Cadillac                                    14    18.375984  33  12
Chevrolet                                   10    18.508098  48   9
Chrysler                                    17    20.120125  28  14
Consulier Industries Inc                    24    21.000000  21  21
Dabryan Coach Builders Inc                  17    16.333333  17  15
Dacia                                       28    23.000000  23  23
Daewoo                                      25    23.074627  27  20
Daihatsu                                    21    29.647059  34  20
Dodge                                       10    17.195339  34   9
E. P. Dutton, Inc.                          21    17.000000  17  17
Eagle                                       17    21.987179  31  16
...                                        ...          ...  ..  ..
Renault                                     22    25.393939  33  19
Rolls-Royce                                  9    12.012500  15   8
Roush Performance                           12    14.660377  18  11
Ruf Automobile Gmbh                         18    13.000000  13  13
S and S Coach Company  E.p. Dutton          11    10.000000  10  10
SRT                                         19    15.000000  15  15
Saab                                        16    20.212195  25  13
Saleen                                      18    15.000000  16  13
Saleen Performance                          15    13.500000  14  13
Saturn                                      21    24.061151  29  17
Scion                                       27    27.216867  37  22
Shelby                                      22    17.000000  17  17
Spyker                                      18    15.307692  17  15
Sterling                                    20    18.166667  19  17
Subaru                                      20    22.293214  34  18
Superior Coaches Div E.p. Dutton            11    10.000000  10  10
Suzuki                                      18    23.390625  42  16
TVR Engineering Ltd                         22    18.000000  18  18
Tecstar, LP                                 15    13.000000  13  13
Texas Coach Company                         14    12.000000  12  12
Toyota                                      10    21.800109  56  10
VPG                                         16    14.200000  15  13
Vector                                      10     8.500000   9   8
Vixen Motor Company                         16    16.000000  16  16
Volga Associated Automobile                 22    19.000000  19  19
Volkswagen                                  14    24.093601  45  13
Volvo                                       19    20.605300  30  15
Wallace Environmental                       13    13.875000  19  10
Yugo                                        27    25.000000  26  23
smart                                       38    35.800000  36  34

                                   CO2 Emission Grams/Mile               \
                                                      mean          max
Make
AM General                                      611.358244   683.615385
ASC Incorporated                                555.437500   555.437500
Acura                                           422.585325   634.785714
Alfa Romeo                                      463.952115   683.615385
American Motors Corporation                     505.758823   555.437500
Aston Martin                                    672.617776  1110.875000
Audi                                            450.755841   634.785714
Aurora Cars Ltd                                 592.466667   592.466667
Autokraft Limited                               539.101103   555.437500
BMW                                             457.474347   740.583333
BMW Alpina                                      567.780556   592.466667
Bentley                                         686.046662   807.909091
Bertone                                         403.954545   403.954545
Bill Dovell Motor Car Company                   522.764706   522.764706
Bitter Gmbh and Co. Kg                          567.780556   592.466667
Bugatti                                         873.062500   888.700000
Buick                                           434.463852   592.466667
CCC Engineering                                 592.466667   592.466667
CX Automotive                                   552.506980   592.466667
Cadillac                                        496.281110   740.583333
Chevrolet                                       512.679300   987.444444
Chrysler                                        446.768491   634.785714
Consulier Industries Inc                        423.190476   423.190476
Dabryan Coach Builders Inc                      545.998693   592.466667
Dacia                                           386.391304   386.391304
Daewoo                                          387.757496   444.350000
Daihatsu                                        310.188060   444.350000
Dodge                                           554.504825   987.444444
E. P. Dutton, Inc.                              522.764706   522.764706
Eagle                                           411.148025   555.437500
...                                                    ...          ...
Renault                                         359.826496   467.736842
Rolls-Royce                                     765.076650  1110.875000
Roush Performance                               621.915131   805.000000

In [66]:
numeric[["Make","Cylinders"]].groupby("Make").agg(['mean',"max","min"])

                                    Cylinders
                                         mean   max   min
Make
AM General                           5.000000   6.0   4.0
ASC Incorporated                     6.000000   6.0   6.0
Acura                                5.231788   6.0   4.0
Alfa Romeo                           5.317073   8.0   4.0
American Motors Corporation          5.545455   6.0   4.0
Aston Martin                        10.015038  12.0   6.0
Audi                                 5.813483  12.0   4.0
Aurora Cars Ltd                      8.000000   8.0   8.0
Autokraft Limited                    8.000000   8.0   8.0
BMW                                  6.425164  12.0   2.0
BMW Alpina                           8.000000   8.0   8.0
Bentley                              9.586207  12.0   8.0
Bertone                              4.000000   4.0   4.0
Bill Dovell Motor Car Company        4.000000   4.0   4.0
Bitter Gmbh and Co. Kg               6.000000   6.0   6.0
Bugatti                             16.000000  16.0  16.0
Buick                                5.582868   8.0   4.0
CCC Engineering                      8.000000   8.0   8.0
CX Automotive                        5.125000   6.0   4.0
Cadillac                             6.933071   8.0   4.0
Chevrolet                            6.333242   8.0   3.0
Chrysler                             5.326053   8.0   4.0
Consulier Industries Inc             4.000000   4.0   4.0
Dabryan Coach Builders Inc           8.000000   8.0   8.0
Dacia                                4.000000   4.0   4.0
Daewoo                               4.029851   6.0   4.0
Daihatsu                             3.705882   4.0   3.0
Dodge                                6.233051  10.0   4.0
E. P. Dutton, Inc.                   8.000000   8.0   8.0
Eagle                                4.256410   6.0   4.0
...                                       ...   ...   ...
Renault                              4.000000   4.0   4.0
Rolls-Royce                          9.725000  12.0   8.0
Roush Performance                    8.000000   8.0   8.0
Ruf Automobile Gmbh                  6.000000   6.0   6.0
S and S Coach Company  E.p. Dutton   8.000000   8.0   8.0
SRT                                 10.000000  10.0  10.0
Saab                                 4.404878   8.0   4.0
Saleen                               8.000000   8.0   8.0
Saleen Performance                   8.000000   8.0   8.0
Saturn                               4.431655   6.0   4.0
Scion                                4.000000   4.0   4.0
Shelby                               8.000000   8.0   8.0
Spyker                               8.000000   8.0   8.0
Sterling                             6.000000   6.0   6.0
Subaru                               4.130602   6.0   3.0
Superior Coaches Div E.p. Dutton     8.000000   8.0   8.0
Suzuki                               4.308594   6.0   3.0
TVR Engineering Ltd                  6.000000   6.0   6.0
Tecstar, LP                          8.000000   8.0   8.0
Texas Coach Company                  8.000000   8.0   8.0
Toyota                               4.967320   8.0   4.0
VPG                                  8.000000   8.0   8.0
Vector                              10.000000  12.0   8.0
Vixen Motor Company                  6.000000   6.0   6.0
Volga Associated Automobile          4.000000   4.0   4.0
Volkswagen                           4.595033  12.0   4.0
Volvo                                4.945607   8.0   4.0
Wallace Environmental                7.812500  12.0   4.0
Yugo                                 4.000000   4.0   4.0
smart                                3.000000   3.0   3.0

[127 rows x 3 columns]

In [71]:
def aggCustom(group):
    return group.max() - group.mean()

numeric[["Make","Cylinders"]].groupby("Make").agg(aggCustom)

                                    Cylinders
Make
AM General                           1.000000
ASC Incorporated                     0.000000
Acura                                0.768212
Alfa Romeo                           2.682927
American Motors Corporation          0.454545
Aston Martin                         1.984962
Audi                                 6.186517
Aurora Cars Ltd                      0.000000
Autokraft Limited                    0.000000
BMW                                  5.574836
BMW Alpina                           0.000000
Bentley                              2.413793
Bertone                              0.000000
Bill Dovell Motor Car Company        0.000000
Bitter Gmbh and Co. Kg               0.000000
Bugatti                              0.000000
Buick                                2.417132
CCC Engineering                      0.000000
CX Automotive                        0.875000
Cadillac                             1.066929
Chevrolet                            1.666758
Chrysler                             2.673947
Consulier Industries Inc             0.000000
Dabryan Coach Builders Inc           0.000000
Dacia                                0.000000
Daewoo                               1.970149
Daihatsu                             0.294118
Dodge                                3.766949
E. P. Dutton, Inc.                   0.000000
Eagle                                1.743590
...                                       ...
Renault                              0.000000
Rolls-Royce                          2.275000
Roush Performance                    0.000000
Ruf Automobile Gmbh                  0.000000
S and S Coach Company  E.p. Dutton   0.000000
SRT                                  0.000000
Saab                                 3.595122
Saleen                               0.000000
Saleen Performance                   0.000000
Saturn                               1.568345
Scion                                0.000000
Shelby                               0.000000
Spyker                               0.000000
Sterling                             0.000000
Subaru                               1.869398
Superior Coaches Div E.p. Dutton     0.000000
Suzuki                               1.691406
TVR Engineering Ltd                  0.000000
Tecstar, LP                          0.000000
Texas Coach Company                  0.000000
Toyota                               3.032680
VPG                                  0.000000
Vector                               2.000000
Vixen Motor Company                  0.000000
Volga Associated Automobile          0.000000
Volkswagen                           7.404967
Volvo                                3.054393
Wallace Environmental                4.187500
Yugo                                 0.000000
smart                                0.000000

[127 rows x 1 columns]

In [75]:
def byNumCilindros(group):
    m = group.mean()
    if m <= 4:
        return "Low"
    elif m > 4 and m < 8:
        return "Middle"
    else:
        return "High"

numeric[["Make","Cylinders"]].groupby("Make").agg(byNumCilindros)

                                   Cylinders
Make
AM General                            Middle
ASC Incorporated                      Middle
Acura                                 Middle
Alfa Romeo                            Middle
American Motors Corporation           Middle
Aston Martin                            High
Audi                                  Middle
Aurora Cars Ltd                         High
Autokraft Limited                       High
BMW                                   Middle
BMW Alpina                              High
Bentley                                 High
Bertone                                  Low
Bill Dovell Motor Car Company            Low
Bitter Gmbh and Co. Kg                Middle
Bugatti                                 High
Buick                                 Middle
CCC Engineering                         High
CX Automotive                         Middle
Cadillac                              Middle
Chevrolet                             Middle
Chrysler                              Middle
Consulier Industries Inc                 Low
Dabryan Coach Builders Inc              High
Dacia                                    Low
Daewoo                                Middle
Daihatsu                                 Low
Dodge                                 Middle
E. P. Dutton, Inc.                      High
Eagle                                 Middle
...                                      ...
Renault                                  Low
Rolls-Royce                             High
Roush Performance                       High
Ruf Automobile Gmbh                   Middle
S and S Coach Company  E.p. Dutton      High
SRT                                     High
Saab                                  Middle
Saleen                                  High
Saleen Performance                      High
Saturn                                Middle
Scion                                    Low
Shelby                                  High
Spyker                                  High
Sterling                              Middle
Subaru                                Middle
Superior Coaches Div E.p. Dutton        High
Suzuki                                Middle
TVR Engineering Ltd                   Middle
Tecstar, LP                             High
Texas Coach Company                     High
Toyota                                Middle
VPG                                     High
Vector                                  High
Vixen Motor Company                   Middle
Volga Associated Automobile              Low
Volkswagen                            Middle
Volvo                                 Middle
Wallace Environmental                 Middle
Yugo                                     Low
smart                                    Low

[127 rows x 1 columns]

In [80]:
# Agg solo se puede usar con groupy delante
numeric.groupby("Make").agg({
    "Cylinders":byNumCilindros,
    "Highway MPG":"min",
    "Combined MPG":"max"
})

                                   Cylinders  Highway MPG  Combined MPG
Make
AM General                            Middle           13            17
ASC Incorporated                      Middle           21            16
Acura                                 Middle           17            38
Alfa Romeo                            Middle           16            28
American Motors Corporation           Middle           17            21
Aston Martin                            High            9            17
Audi                                  Middle           17            39
Aurora Cars Ltd                         High           20            15
Autokraft Limited                       High           20            17
BMW                                   Middle           15            39
BMW Alpina                              High           19            16
Bentley                                 High           13            19
Bertone                                  Low           26            22
Bill Dovell Motor Car Company            Low           18            17
Bitter Gmbh and Co. Kg                Middle           17            16
Bugatti                                 High           14            10
Buick                                 Middle           17            30
CCC Engineering                         High           20            15
CX Automotive                         Middle           18            19
Cadillac                              Middle           14            33
Chevrolet                             Middle           10            48
Chrysler                              Middle           17            28
Consulier Industries Inc                 Low           24            21
Dabryan Coach Builders Inc              High           17            17
Dacia                                    Low           28            23
Daewoo                                Middle           25            27
Daihatsu                                 Low           21            34
Dodge                                 Middle           10            34
E. P. Dutton, Inc.                      High           21            17
Eagle                                 Middle           17            31
...                                      ...          ...           ...
Renault                                  Low           22            33
Rolls-Royce                             High            9            15
Roush Performance                       High           12            18
Ruf Automobile Gmbh                   Middle           18            13
S and S Coach Company  E.p. Dutton      High           11            10
SRT                                     High           19            15
Saab                                  Middle           16            25
Saleen                                  High           18            16
Saleen Performance                      High           15            14
Saturn                                Middle           21            29
Scion                                    Low           27            37
Shelby                                  High           22            17
Spyker                                  High           18            17
Sterling                              Middle           20            19
Subaru                                Middle           20            34
Superior Coaches Div E.p. Dutton        High           11            10
Suzuki                                Middle           18            42
TVR Engineering Ltd                   Middle           22            18
Tecstar, LP                             High           15            13
Texas Coach Company                     High           14            12
Toyota                                Middle           10            56
VPG                                     High           16            15
Vector                                  High           10             9
Vixen Motor Company                   Middle           16            16
Volga Associated Automobile              Low           22            19
Volkswagen                            Middle           14            45
Volvo                                 Middle           19            30
Wallace Environmental                 Middle           13            19
Yugo                                     Low           27            26
smart                                    Low           38            36

[127 rows x 3 columns]

In [85]:
display(df.head())
display(pd.get_dummies(df["Make"]).head())

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

,AM General,ASC Incorporated,Acura,Alfa Romeo,American Motors Corporation,Aston Martin,Audi,Aurora Cars Ltd,Autokraft Limited,BMW,...,Toyota,VPG,Vector,Vixen Motor Company,Volga Associated Automobile,Volkswagen,Volvo,Wallace Environmental,Yugo,smart
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
q = df[(df["Fuel Type"] =="Diesel") |(df["Fuel Type"] =="Regular")].sample(frac=1)
print(q.shape)
display(pd.get_dummies(q["Fuel Type"]).head(10))
display(pd.get_dummies(q["Fuel Type"],drop_first=True).head(10))

(24498, 15)

       Diesel  Regular
33839       0        1
31958       0        1
18768       0        1
25014       0        1
7095        0        1
28898       0        1
3886        0        1
4168        0        1
21465       0        1
13353       0        1

       Regular
33839        1
31958        1
18768        1
25014        1
7095         1
28898        1
3886         1
4168         1
21465        1
13353        1

In [109]:
pd.get_dummies(df["Cylinders"]).head(10)

   2.0   3.0   4.0   5.0   6.0   8.0   10.0  12.0  16.0
0     0     0     1     0     0     0     0     0     0
1     0     0     0     0     1     0     0     0     0
2     0     0     1     0     0     0     0     0     0
3     0     0     0     0     1     0     0     0     0
4     0     0     0     0     1     0     0     0     0
5     0     0     1     0     0     0     0     0     0
6     0     0     1     0     0     0     0     0     0
7     0     0     0     0     1     0     0     0     0
8     0     0     1     0     0     0     0     0     0
9     0     0     1     0     0     0     0     0     0

In [115]:
df.pivot_table(df,["Year","Make"]).reset_index()

,Year,Make,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Highway MPG
0,1984,AM General,603.190045,15.500000,15.000000,5.000000,3.350000,22.371719,2250.000000,15.000000
1,1984,American Motors Corporation,491.288185,16.533333,18.200000,5.333333,3.633333,18.221391,1836.666667,20.933333
2,1984,Buick,531.878968,15.333333,17.666667,7.333333,4.933333,19.800179,1966.666667,21.666667
3,1984,Cadillac,488.122024,17.666667,20.333333,7.333333,4.700000,18.241429,1766.666667,25.333333
4,1984,Chevrolet,557.765001,15.410448,17.007463,6.582090,4.238060,20.743517,2065.298507,19.708955
5,1984,Dodge,641.059689,13.945055,15.098901,6.329670,4.053846,23.784347,2406.593407,16.868132
6,1984,Ford,659.598884,13.111111,14.155556,6.637037,4.507407,24.465183,2477.777778,15.962963
7,1984,GMC,557.185898,15.428571,17.030075,6.586466,4.239098,20.722464,2062.781955,19.744361
8,1984,Grumman Olson,352.712067,29.000000,29.000000,4.000000,1.600000,13.241774,1250.000000,29.500000
9,1984,Import Foreign Auto Sales Inc,467.736842,18.000000,19.000000,4.000000,1.000000,17.347895,1750.000000,20.000000
10,1984,Isuzu,410.839988,22.000000,23.333333,4.000000,2.080000,15.306440,1506.666667,25.200000
11,1984,Jeep,513.753184,16.228571,17.714286,5.314286,3.537143,19.054595,1927.142857,19.828571
12,1984,Mazda,422.480306,21.166667,22.333333,4.000000,2.066667,15.728592,1558.333333,24.166667
13,1984,Mitsubishi,458.575517,19.227273,20.272727,4.000000,2.327273,17.041533,1700.000000,21.681818
14,1984,Nissan,410.408875,21.142857,23.000000,4.000000,2.371429,15.270602,1521.428571,25.714286
15,1984,Plymouth,447.151021,18.000000,20.000000,4.000000,2.300000,16.584387,1675.000000,23.250000
16,1984,S and S Coach Company E.p. Dutton,888.700000,9.000000,10.000000,8.000000,6.000000,32.961000,3350.000000,11.000000
17,1984,Subaru,406.221969,20.444444,22.000000,4.000000,1.800000,15.066369,1522.222222,24.555556
18,1984,Superior Coaches Div E.p. Dutton,888.700000,10.000000,10.000000,8.000000,6.000000,32.961000,3350.000000,11.000000
19,1984,Suzuki,403.954545,22.000000,22.000000,4.000000,1.000000,14.982273,1500.000000,22.000000
20,1984,Toyota,458.099973,19.619048,20.761905,4.095238,2.409524,17.022333,1702.380952,22.476190
21,1984,Volkswagen,573.952083,14.500000,15.500000,4.000000,1.900000,21.287312,2150.000000,17.500000
22,1985,AM General,619.526442,14.500000,14.500000,5.000000,3.350000,22.977620,2325.000000,15.000000
23,1985,Alfa Romeo,445.463659,18.000000,20.000000,5.000000,2.250000,16.521805,1675.000000,24.500000
24,1985,American Motors Corporation,533.655637,15.000000,16.666667,6.000000,4.200000,19.792757,2000.000000,18.666667
25,1985,Aston Martin,1110.875000,7.000000,8.000000,8.000000,5.300000,41.201250,4150.000000,9.333333
26,1985,Audi,480.096789,16.666667,18.750000,4.833333,2.108333,17.806313,1795.833333,21.666667
27,1985,BMW,474.674094,16.923077,19.230769,5.692308,2.861538,17.619995,1773.076923,22.692308
28,1985,Bertone,403.954545,20.000000,22.000000,4.000000,1.500000,14.982273,1500.000000,26.000000
29,1985,Bill Dovell Motor Car Company,522.764706,17.000000,17.000000,4.000000,2.300000,19.388824,1950.000000,18.000000
...,...,...,...,...,...,...,...,...,...,...
1557,2017,Fiat,307.777778,26.111111,29.000000,4.000000,1.400000,11.443010,1405.555556,33.555556
1558,2017,Ford,422.282609,19.304348,21.956522,5.130435,2.965217,15.583497,1595.652174,26.456522
1559,2017,GMC,488.263158,16.263158,18.657895,7.052632,4.781579,18.030040,1819.736842,22.605263
1560,2017,Genesis,464.142857,16.285714,19.428571,6.857143,4.171429,17.037485,1985.714286,24.428571
1561,2017,Honda,316.470588,26.529412,29.176471,4.588235,2.364706,11.771066,1191.176471,33.470588
1562,2017,Hyundai,336.815789,24.473684,27.289474,4.315789,2.115789,12.414935,1268.421053,31.631579
1563,2017,Infiniti,399.500000,19.722222,22.444444,5.333333,2.822222,14.847898,1825.000000,27.222222
1564,2017,Jaguar,401.043478,20.652174,23.782609,5.652174,2.913043,14.873777,1758.695652,29.130435
1565,2017,Jeep,398.555556,20.222222,22.555556,4.740741,2.818519,14.811608,1553.703704,26.333333
1566,2017,Kia,369.857143,22.457143,25.028571,4.571429,2.362857,13.593998,1388.571429,29.142857
1567,2017,Lamborghini,588.666667,12.833333,15.333333,10.666667,5.633333,21.781355,2683.333333,19.666667
1568,2017,Land Rover,389.666667,20.333333,23.000000,4.000000,2.000000,14.348964,1766.666667,27.333333
1569,2017,Lexus,379.625000,25.250000,26.500000,6.000000,3.575000,14.087078,1575.000000,28.250000
1570,2017,Lincoln,437.666667,18.777778,21.166667,5.222222,2.783333,16.183625,1636.111111,25.500000
1571,2017,Lotus,459.500000,16.500000,19.500000,6.000000,3.500000,16.914197,2075.000000,24.000000
1572,2017,MINI,318.476190,24.714286,27.952381,4.000000,1.809524,11.867281,1454.761905,33.380952
1573,2017,Maserati,514.400000,15.000000,17.300000,7.000000,3.420000,19.183172,2370.000000,22.000000
1574,2017,Mazda,289.285714,27.857143,30.857143,4.000000,2.071429,10.747847,1085.714286,35.571429
1575,2017,McLaren Automotive,481.000000,16.000000,19.000000,8.000000,3.800000,17.347895,2150.000000,23.000000
1576,2017,Mercedes-Benz,438.620690,18.275862,20.879310,6.793103,3.775862,16.324895,2003.448276,25.344828
1577,2017,Mitsubishi,273.428571,30.285714,33.000000,3.428571,1.600000,10.195610,1028.571429,37.571429
1578,2017,Nissan,412.600000,19.900000,22.850000,6.000000,3.695000,15.214503,1640.000000,27.450000
1579,2017,Porsche,403.128205,19.487179,22.025641,5.846154,3.148718,14.977310,1864.102564,26.282051
1580,2017,Ram,486.333333,16.166667,18.666667,6.666667,4.450000,18.052299,1941.666667,23.000000
1581,2017,Rolls-Royce,629.375000,11.500000,14.125000,12.000000,6.650000,23.347375,2875.000000,19.000000
1582,2017,Subaru,361.928571,22.142857,24.857143,4.285714,2.407143,13.464279,1500.000000,29.071429
1583,2017,Toyota,371.121951,25.097561,26.902439,5.024390,2.885366,13.774486,1406.097561,29.756098
1584,2017,Volkswagen,345.750000,23.000000,26.250000,4.300000,2.120000,12.825854,1375.000000,31.750000
1585,2017,Volvo,348.142857,22.285714,25.238095,4.000000,2.000000,12.933178,1488.095238,30.142857
1586,2017,smart,254.500000,32.000000,34.500000,3.000000,0.900000,9.555920,1175.000000,38.000000

In [116]:
df2 = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                    'C': {0: 2, 1: 4, 2: 6}})
df2

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [119]:
pd.melt(df2, id_vars=['A'], value_vars=['B','C'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6