In [2]:
# https://api.mongodb.com/python/current/tutorial.html

from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client.restaurantitos

In [42]:
import pprint

restaurantes = db.rests.find({"borough":"Brooklyn"}).skip(2).limit(2)
for i,restaurante in enumerate(restaurantes):
    pprint.pprint(restaurante)
    if i == 5:
        break

{'_id': ObjectId('5d1dde65e0aeedf6e06b9d2c'),
 'address': {'building': '7114',
             'coord': [{'$numberDouble': '-73.9068506'},
                       {'$numberDouble': '40.6199034'}],
             'street': 'Avenue U',
             'zipcode': '11234'},
 'borough': 'Brooklyn',
 'cuisine': 'Delicatessen',
 'grades': [{'date': datetime.datetime(2014, 5, 29, 0, 0),
             'grade': 'A',
             'score': 10},
            {'date': datetime.datetime(2014, 1, 14, 0, 0),
             'grade': 'A',
             'score': 10},
            {'date': datetime.datetime(2013, 8, 3, 0, 0),
             'grade': 'A',
             'score': 8},
            {'date': datetime.datetime(2012, 7, 18, 0, 0),
             'grade': 'A',
             'score': 10},
            {'date': datetime.datetime(2012, 3, 9, 0, 0),
             'grade': 'A',
             'score': 13},
            {'date': datetime.datetime(2011, 10, 14, 0, 0),
             'grade': 'A',
             'score': 9}],
 'name': "Wilken'S Fine Food",
 'restaurant_id': '40356483'}
{'_id': ObjectId('5d1dde65e0aeedf6e06b9d2d'),
 'address': {'building': '6409',
             'coord': [{'$numberDouble': '-74.00528899999999'},
                       {'$numberDouble': '40.628886'}],
             'street': '11 Avenue',
             'zipcode': '11219'},
 'borough': 'Brooklyn',
 'cuisine': 'American',
 'grades': [{'date': datetime.datetime(2014, 7, 18, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2013, 7, 30, 0, 0),
             'grade': 'A',
             'score': 12},
            {'date': datetime.datetime(2013, 2, 13, 0, 0),
             'grade': 'A',
             'score': 11},
            {'date': datetime.datetime(2012, 8, 16, 0, 0),
             'grade': 'A',
             'score': 2},
            {'date': datetime.datetime(2011, 8, 17, 0, 0),
             'grade': 'A',
             'score': 11}],
 'name': 'Regina Caterers',
 'restaurant_id': '40356649'}

In [41]:
%%time 
rests = list(db.rests.find())
print(f"Total {len(rests)}")

Total 25361
CPU times: user 370 ms, sys: 48 ms, total: 418 ms
Wall time: 444 ms

In [30]:
%%time 
total = db.rests.find().count()
print(f"Total {total}")

Total 25361
CPU times: user 1.57 ms, sys: 842 Âµs, total: 2.42 ms
Wall time: 3.26 ms

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

In [31]:
import pandas as pd
restaurants = db.rests.find().limit(5)

pd.DataFrame(restaurants)

,_id,address,borough,cuisine,grades,name,restaurant_id
0,5d1dde65e0aeedf6e06b9d26,"{'building': '469', 'coord': [{'$numberDouble'...",Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340
1,5d1dde65e0aeedf6e06b9d27,"{'building': '351', 'coord': [{'$numberDouble'...",Manhattan,Irish,"[{'date': 2014-09-06 00:00:00, 'grade': 'A', '...",Dj Reynolds Pub And Restaurant,30191841
2,5d1dde65e0aeedf6e06b9d28,"{'building': '2780', 'coord': [{'$numberDouble...",Brooklyn,American,"[{'date': 2014-06-10 00:00:00, 'grade': 'A', '...",Riviera Caterer,40356018
3,5d1dde65e0aeedf6e06b9d29,"{'building': '97-22', 'coord': [{'$numberDoubl...",Queens,Jewish/Kosher,"[{'date': 2014-11-24 00:00:00, 'grade': 'Z', '...",Tov Kosher Kitchen,40356068
4,5d1dde65e0aeedf6e06b9d2a,"{'building': '8825', 'coord': [{'$numberDouble...",Queens,American,"[{'date': 2014-11-15 00:00:00, 'grade': 'Z', '...",Brunos On The Boulevard,40356151